doctype html
html(lang="en")
    head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      title Playstation Tribute | I'm James
      link(href="styles.css" rel="stylesheet" type="text/css")
      meta(name="theme-color" content="#F44336")
        
    body
      main
        .playstation
          .side.left
            .reset-button
            .power-button
            .line
          .middle
            .disc-tray
              .grip
                .dots
                .dots
          .side.right
            .open-button
            .line
          
      script(src="main.js" type="text/javascript")
